*.md
data/*
plots/1st_plots/*
plots/2nd_plots/*
plots/3rd_plots/*
*.csv
models/*
*.pt
*.pkl
*.txt
*.json
IEEE/*
memory/*
old_log/*
old_report/*
old_src/*
old_submission/*

.gitignore

!README.md
!data/v51_processed/*